:root {
  --midnight-frost-bg: #020617;
  --midnight-frost-cards: #0b1120;
  --midnight-frost-sidebar: #2c50ab;
  --midnight-frost-text: #ddeeff;
  --midnight-frost-primary: #aaccff;
  --midnight-frost-hover: #88aaff;
  --midnight-frost-borders: #1f2937;
}
